<html>
<head>
  <title>login page</title>
 <link rel="stylesheet" type="text/css" href="main.css">
 <script src="script.js"></script>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
<img src="hmrkj.jpeg" alt="Logo" style="width:60px;"></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About Us</a>
    </li>
 <li class="nav-item">
      <a class="nav-link" href="#">Admission Procedure</a>
    </li>


    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Campus
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Punjab</a>
        <a class="dropdown-item" href="#">Haryana</a>
        <a class="dropdown-item" href="#">Himachal</a>
      </div>
    </li>
  </ul>
</nav>
<br><br><br><br><br>

<div class="login-wrap">

<div class="login-html">
<input id="tab-2" type="radio" name="tab" class="sign-up" checked>
<label for="tab-2" class="tab">Sign In</label>

<div class="login-form">

  <div class="sign-in-htm">
    
  </div>

	<div class="sign-up-htm">

    <form action="/login" method="POST" name='f1' >
	      
	       <div class="group">
                           <label for="user" class="label">Email*</label>
                           <input id="uname" type="email" class="input" name="username" >
                           </div>
	
	       <div class="group">
                           <label for="pass" class="label" >Password*</label>
                           <input id="user1" name="password"  type="password" name="password" class="input" data-type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" >
                           </div>

	        <div class="group">
                <br>
                <br>

        <input type="submit" class="button" value="sign-In" >	 <br>
                             
            </div>
            
          </form>
          <button class="button" value="Register"><a href="/register">Register</a></button>

          
	</div>

</div>


</div>


</div>
</body>
</html>