<html>

<head>
<title>HMRKJ Payments</title>
 <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="payment.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js"></script>
</style>
</head>
<body>
<div class="bg">
<div class="bgimg">
<nav class="navbar navbar-inverse navbar-expand-md bg-dark navbar-dark navbar-fixed-top">

<div class="container navbar-header">
<a href="" class="navbar-brand">

<img src="1.png" class="img-circle" style="width:35px; "></a>
 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
 <span class="navbar-toggler-icon"> </span>
</button>
<div class="collapse navbar-collapse text-center text-white" id="collapsenavbar">
<ul class="nav navbar-nav">
      <li ><a href="main">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student Info<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Complete Info</a></li>
          <li><a href="#">Apply Duty/Medical Leave</a></li>
          <li><a href="#">Parent Information</a></li>
          <li><a href="#">Display Teacher Comments</a></li>
          <li><a href="#">Display Institute notices</a></li>
          <li><a href="#">Display Fine</a></li>
          <li><a href="#">Display Institute Events</a></li>
          <li><a href="#">Display Admin Messages</a></li>
           <li><a href="#">Display Course Wise Topic Report</a></li>
            <li><a href="#">Display My Exam Schedule</a></li>
             <li><a href="#">Select Specialization</a></li>
              <li><a href="#">Course Handouts</a></li>
       </ul>
      </li> 

      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Fee Due<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="active"><a href="payment">Online Net Banking Fee Payment</a></li>
          <li><a href="phistory">Show Fee Payment History</a></li>
        
        </ul>
      </li>
      <li><a href="#">Attendance</a></li>
      <li><a href="#">Time Table</a></li>
      <li><a href="#">Marks</a></li>
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Online Classes<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Notes</a></li>
          <li><a href="#">Class Links</a></li>
          <li><a href="#">Doubt Portal</a></li>
        </ul>
      </li>
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Others<span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li><a href="#">Apply Leave</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Registration Form</a></li>
          <li><a href="#">Gate Pass</a></li><li><a href="mentor">Mentor</a></li><li><a href="#">Change Password</a></li>
         </ul>
      </li>
      <li><a href="logout">Log Out</a></li>
     </ul>

</div></div>
</nav> <br> <br><br>
<marquee><b><h5><mark>We accept all credit or debit card with a MasterCard, Visa, Discover Network, American Express, Diners Club International or JCB logo. Electronic Cards. We also accept PayPal, checks, money orders, and bank wires.</b></h5></mark>
</marquee>
<div class="welcome text-center" >
  <div class="card text-dark">
    <div class="card-body"><img src="new_avtar1.png" alt="Avatar" class="avatar">
Welcome, <%=name%> (You are currently enrolled in HMRKJ - Science - 12 <abbr  title="Standard">STD</abbr> and are Studying 12 Subjects(Lecture, Tutorial and Practical) Your Calculated fees for this particular semester is <b><i><mark>₹
 70000<b><i></mark></div>
  </div><br>

 
<div class="padding">
    <div class="row">
        <div class="container-fluid d-flex justify-content-center">
            <div class="col-sm-8 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6"> <button type="button" class="btn  btn-success">For Other Payment Options</button><br><p style="color:blue";>OR</p><span>CREDIT/DEBIT CARD PAYMENT</span>  <br>  
</div>
                            <div class="col-md-6 text-right" style="margin-top: -5px;"> 
                       <img src="https://img.icons8.com/color/36/000000/visa.png"> <img src="https://img.icons8.com/color/36/000000/mastercard.png"> <img src="https://img.icons8.com/color/36/000000/amex.png"> </div>
                        </div>
                    </div>
                    <div class="card-body" style="height: 350px">
                        <div class="form-group">CARD NUMBER</label> <input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required> </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <label for="cc-exp" class="control-label">CARD EXPIRY</label> <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="•• / ••" required> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> <label for="cc-cvc" class="control-label">CVV</label> <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="•••" required> </div>
                            </div>
                        </div>
                        <div class="form-group"> <label for="numeric" class="control-label">CARD HOLDER NAME</label> <input type="text" class="input-lg form-control" placeholder="AS PRINTED ON CARD" required> </div>
                        <div class="form-group"> <input value="MAKE PAYMENT OF ₹ 70000" type="button" class="btn btn-success btn-lg form-control" style="font-size: 1.5rem;" > </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
  <p>« Powered By HMRKJ Payment Technologies Pvt Ltd »	</p>
</div>
</div>
</body>

</html>